/* CSS Document */

body{
	background-color:#11BB88;
	font-size: 30px;
	
		}
h1{
	text-transform: uppercase;
	text-align: center;
	background-color: darkblue;
	color: beige;
	font-family: arial;
	
}
ul li {
	display: inline;
	margin-left: 30px;
	
}

a{text-decoration: none;
	font-weight: 300;
	font-family:arial;
	font-size: 36px;
	
}

a:hover{
	color: #FFFFFF;}

h2 li{
	background-color:#3A7FB1;
	text-transform:capitalize;
	text-align: left;
	color: aquamarine;
	text-decoration: none;
	font-size: 30px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	
	
	
}


h3{ 
	background-color:#3A7FB1;
	text-transform: capitalize;
	text-align: left;
	color:aquamarine;
	text-decoration: none;
	font-size: 30px;
	font-family:Baskerville;
	
	
}

h4{
	background-color:#3A7FB1;
	text-transform: capitalize;
	text-align: left;
	color:aquamarine;
	font-size: 30px;
	font-family:Baskerville;
	
	
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


	
	
	
	

